.header {
    grid-area: head;
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    align-items: center;
    width: 100%;
    min-height: 50px;
    background-color: #13191d;
    box-shadow: 0 5px 5px #14191d;
}
