@import url("body/body.css");
@import url("body/body_no-nav.css");
@import url("button/button.css");
@import url("fixed/fixed.css");
@import url("header/header.css");
@import url("island/island.css");
@import url("island/island_horizontal.css");
@import url("island/island_outline.css");
@import url("island/island_shadow.css");
@import url("island/island_vertical.css");
@import url("link/link.css");
@import url("logo/logo.css");
@import url("main/main.css");
@import url("menu/menu.css");
@import url("menu-icon/menu-icon.css");
@import url("nav/nav.css");
@import url("nav/nav_hidden.css");
@import url("table/table.css");
@import url("text/text.css");
@import url("text/text_semi-bolt.css");
@import url("text/text_size_l.css");
@import url("text/text_size_m.css");
@import url("text/text_size_s.css");
@import url("text-box/text-box.css");
@import url("text-box/text-box_oultlined.css");
@import url("header/__logo/header__logo.css");
@import url("header/__menu/header__menu.css");
@import url("header/__profile/header__profile.css");
@import url("header/__profile_image/header__profile-image.css");
@import url("header/__profile_text/header__profile_text.css");
@import url("header/__space/header__space.css");
@import url("island/__button/island__button.css");
@import url("island/__input/island__input.css");
@import url("island/__table/island__table.css");
@import url("island/__text/island__text.css");
@import url("main/__island/main__island.css");
@import url("menu/__item/menu__item.css");
@import url("menu-icon/__row/menu-icon__row.css");
@import url("menu-icon/__row/menu-icon__row_size_s.css");
@import url("nav/__fixed/nav__fixed.css");
@import url("nav/__menu/nav__menu.css");
@import url("nav/__separator/nav__separator.css");
@import url("table/__row/table__row.css");
@import url("table/__row/table__row_outlined.css");
@import url("table/__th/table__th_width_15.css");
@import url("table/__th/table__th_width_20.css");
@import url("table/__th/table__th_width_30.css");



/** {*/
/*    outline: 2px solid red;*/
/*}*/

body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}