@import './body/body.css';
@import './button/button.css';
@import './fixed/fixed.css';
@import './header/header.css';
@import './island/island.css';
@import './island/island_horizontal.css';
@import './island/island_outline.css';
@import './island/island_shadow.css';
@import './island/island_vertical.css';
@import './link/link.css';
@import './logo/logo.css';
@import './main/main.css';
@import './menu/menu.css';
@import './menu-icon/menu-icon.css';
@import './nav/nav.css';
@import './table/table.css';
@import './text/text.css';
@import './text/text_semi-bolt.css';
@import './text/text_size_l.css';
@import './text/text_size_m.css';
@import './text/text_size_s.css';
@import './text-box/text-box.css';
@import './text-box/text-box_oultlined.css';
@import './header/__logo/header__logo.css';
@import './header/__menu/header__menu.css';
@import './header/__profile/header__profile.css';
@import './header/__profile_image/header__profile-image.css';
@import './header/__profile_text/header__profile_text.css';
@import './header/__space/header__space.css';
@import './island/__button/island__button.css';
@import './island/__input/island__input.css';
@import './island/__table/island__table.css';
@import './island/__text/island__text.css';
@import './main/__island/main__island.css';
@import './menu/__item/menu__item.css';
@import './menu-icon/__row/menu-icon__row.css';
@import './menu-icon/__row/menu-icon__row_size_s.css';
@import './nav/__fixed/nav__fixed.css';
@import './nav/__menu/nav__menu.css';
@import './nav/__separator/nav__separator.css';
@import './table/__row/table__row.css';
@import './table/__row/table__row_outlined.css';
@import './table/__th/table__th_width_15.css';
@import './table/__th/table__th_width_20.css';
@import './table/__th/table__th_width_30.css';



/** {*/
/*    outline: 2px solid red;*/
/*}*/

body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1100px) {
    .nav {
        display: none;
    }

    .body {
        grid-template-areas:
        "head head head"
        "main main main";
    }
}