.body {
    display: grid;
    grid-template-areas:
    "head head"
    "nav main";
    grid-template-columns: [nav] 10em;
    grid-template-rows: [head] 4em;
    background-color: #283238;
    height: 100vh;
    width: 100vw;
}